[Unit]
Description=Jenkins Agent
After=network.target

[Service]
User=jenkins
WorkingDirectory=/home/jenkins/agent
ExecStart=/usr/bin/java -jar /home/jenkins/agent/agent.jar -url http://{{ jenkins_controller_host }}:8080/ -secret {{ jenkins_agent_secret | default('CHANGE_ME') }} -name "{{ inventory_hostname }}" -webSocket -workDir "/home/jenkins/agent"
Restart=on-failure

[Install]
WantedBy=multi-user.target
