[defaults]
inventory = inventory/aws_ec2.yml
remote_user = ubuntu
host_key_checking = False
retry_files_enabled = False
roles_path = roles

[ssh_connection]
# Jump through the bastion since app/agent nodes are in the private subnet
ssh_args = -o ProxyCommand="ssh -W %h:%p -q ubuntu@BASTION_PUBLIC_IP" -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
